<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tight Shorts | Short Volume Screener</title>
    <meta name="filters" content="{{#each filters.settings}}{{@key}},{{/each}}{{#each filters.sequence3D}}{{this.upId}},{{this.downId}},{{/each}}{{#each filters.sequence5D}}{{this.upId}},{{this.downId}},{{/each}}{{#each filters.abnormal}}{{this.upId}},{{this.downId}},{{/each}}">
    <meta name="radio_groups" content="{{#each filters.sequence3D}}{{@key}},{{/each}}{{#each filters.sequence5D}}{{@key}},{{/each}}{{#each filters.abnormal}}{{@key}},{{/each}}">
    {{>head}}
</head>

<body>

    {{>navbar}}

    {{{body}}}

    {{>footer}}

    {{>cookie}}

    <script src="/js/basics.js"></script>
    <script src="/js/screener.js"></script>
</body>

</html>